
<div class="jumbotron center">
	<h1>Share what you love now!</h1>
		<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg"%>
	 <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
		</p>
</div>