<h1>Our team</h1>
<img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-ash4/t1/1474511_775462049137921_501053434_n.jpg
" alt="Steven" height="320" width="480">
<p>Steven Lim: CEO and Co-founder, Pinteresting<p>
<br>
<img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash3/t1/547743_716887948327102_2120891176_n.jpg" alt="Zachary" height="420" width="320">
<p>Zachary Lim: Chief Technical Officer and Co-founder, Pinteresting<p>
<br>
<br>
<br>
